/* .contacts-form {
    padding: 40px 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 28px 100px 0px rgba(194, 219, 235, 0.004);
    height: 460px;
    width: 290px;

    @media(min-width: 768px) {
        width: 48%;
        height: 462px;
        padding: 40px 25px;
    }
    
    @media(min-width: 1200px) {
        width: 511px;
        height: 545px;
        padding-top: 60px;
        padding-bottom: 40px;
        padding-left: 60px;
        padding-right: 60px;
    }
}

.form-item {
    position: relative;

    .form-field {
        width: 100%;
        border: 0;
        border-bottom: 2px solid #000;
        height: 50px;
        font-size: 30px;
    }
}

textarea .form-field {
    height: 130px;
}

input[type="submit"]{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.form-item +.form-item {
    margin-top: 40px;
}

.fake-placeholder {
    position: absolute;
    top: 7px;
    left: 0;
    font-weight: 700;
    pointer-events: none;
    transition: 0.5s;
}

.fake-placeholder.active {
    top: -25px;
    font-size: 20px;
    color: orange;
} */
