* {
    box-sizing: border-box;
}

body, div, h1, h2, h3, h4, p, ul {
	margin:0; 
	padding:0;
}

body {
    font-family: 'PT Sans', sans-serif;
    color: #31405b;
}

.container {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.bg-inner {
    background-color: #f2f8f6;
}

.title-medium {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: 700;
}

.title-micro {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}

.button {
    background-color: #0ac883;
    border: 3px solid #0ac883;
    box-shadow: 0px 8px 20px 0px rgba(24, 219, 148, 0.35);

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5;

    display: inline-block;
    border-radius: 30px;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;

    transition: background-color 0.2s ease-in;

    cursor: pointer;
}

.button:hover {
    background-color: #06e492;
}

.button:active {
    background-color: #07a96e;
}

.button:focus {
    outline: none;
    border: 3px solid #07a96e;
    box-shadow: 0px 0px 10px rgba(53, 192, 141, 0.5);
}

.button-form {
    padding-left: 30px;
    padding-right: 30px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

/* --------------------HEADER------------------ */

.header {
    position: relative;
    background-color: #1a4f27;
    width: 100%;
    height: 800px;
    padding-top: 45px;

    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: #ffffff;
}

.logo {
    float: left;
    width: 270px;

    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #ffffff;
}

.logo-link {
    color: #ffffff;
    text-decoration: none;
}

.navigathion {
    float: right;
    width: 870px;
	padding-top: 15px;
	font-size: 22px;
	color: #ffffff;
	text-align: right;
}

.navigation-link {
    display: inline-block;
    margin-right: 50px;
    color: #ffffff;
    text-decoration: none;
}

.navigation-link:last-child {
    margin-right: 0;
}

.navigation-link:hover {
    text-decoration: underline;
}

.header-content {
    width: 1170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-title {
    margin-bottom: 25px;
    font-size: 60px;
    font-weight: 700;

}

.header-subtitle {
    margin: 0;
    letter-spacing: 1.2px;
    font-size: 24px;
    font-weight: 400;
}

.header-scroll {
    width: 200px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    text-align: center;
    letter-spacing: 1.2;
}

.header-scroll-text {
    font-size: 16px;
    margin-bottom: 12px;
    letter-spacing: 0.8px;
}

/* --------------------HEADER INNER------------------ */

.header-inner {
    padding-top: 25px;
    padding-bottom: 25px;
    background-image: url("../img/header-inner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* --------------------SECTION CONTENT------------------ */

.section-content {
    padding-top: 120px;
    padding-bottom: 120px;
}

.content-row {
    margin-bottom: 120px;
}

.content-row:last-child {
    margin-bottom: 0;
}

.content-row::after {
    display: table;
    content: "";
    clear: both;
}

.content-description {
    width: 470px;
}

.content-img {
    width: 570px;
}

.content-title {
    font-size: 54px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 25px;
}

.content-text {
    margin-bottom: 40px;
}

.content-text p {
    font-size: 20px;
    line-height: 1.6;
}

.content-text a {
    color: #138ece;
}

/* ---------------------     SECTION CONTENT INNER        ----------------------- */

.section-content-inner {
    padding-top: 70px;
    padding-bottom: 120px;
}

.content-title-tours {
    font-size: 54px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 70px;
    text-align: center;
}

/* ---------------------     ROW INNER        ----------------------- */

.row + .row {
    margin-top: 30px;
}

.incredible-adventures-trekking-hikes .tours-link{
    margin-bottom: 30px;
}

.tours-link {
    display: block;
    text-decoration: none;
}

.tours-link:last-child {
    margin-bottom: 0;
}

.tours-link div {
    overflow: hidden;
}

.tours-link:hover {
    transform: scale(1.2);
    transition: 2s;
}

.free-tours, .extreme-tours, .incredible-adventures, .trekking-hikes, .exotic-jungle {
    padding-top: 17px;
    padding-bottom: 27px;
    padding-left: 15px;

    font-family: 'PT Sans', sans-serif;
    font-size: 28px;
    background-color: #a6a6a6;
    color: #ffffff;
}

.extreme-tours {
    background-color: #c1b19b;
}

.incredible-adventures {
    background-color: #66b0be;
}

.trekking-hikes {
    background-color: #876f56;
}

.exotic-jungle {
    padding-bottom: 20px;
    line-height: 1.6;
    background-color: #27695e;
}

/* ---------------------      CONTENT LIST       ----------------------- */

.row-list {
    padding-top: 75px;
}

.content-list-block {
    width: 270px;
}

.content-list {
    list-style-type: none;
}

.content-list h3 {
    padding-bottom: 30px;
    text-align: left;
    font-size: 28px;
}

.content-list li {
    border-top: 1px solid #d6d9d8;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-list li:last-child {
    border-bottom: 1px solid #d6d9d8;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-list a {
    color: #138ece;
    font-size: 20px;
    line-height: 1.3;
    text-decoration: none;
}

.content-list a:hover {
    text-decoration: underline;
}

a.special-color {
    color: #e04e4e;
    font-weight: 700;
}

/* ---------------------     CONTENT TREKKING        ----------------------- */

.content-trekking {
    width: 770px;
}

.content-trekking p:first-of-type {
    margin-bottom: 30px;

}

.content-trekking p {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.6;
}

.content-trekking a {
    color: #138ece;
}

.content-trekking p:last-child {
    margin-bottom: 0;
}

.content-trekking-img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    margin-bottom: 30px;
}

/* ---------------------     CONTACTS        ----------------------- */

.contacts-address {
    float: left;
    padding-top: 35px;
    width: 470px;
}

.contacts-form {
    float: right;
    width: 630px;
}

.contacts-list {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    padding-left: 70px;
    font-size: 20px;
    line-height: 1.6;
    list-style-type: none;
}

.contacts-list a {
    color: #31405b;
    text-decoration: none;
}

.contacts-list a:hover {
    text-decoration: underline;
}

.contacts-list-item {
    position: relative;
    margin-bottom: 10px;
}

.contacts-list-item::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    top: 4px;
    left: -48px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.contacts-list-item-phone::before {
    background-image: url("../img/icons/phone-solid.svg");
}

.contacts-list-item-email::before {
    background-image: url("../img/icons/envelope-solid.svg");
}

.contacts-list-item-address::before {
    background-image: url("../img/icons/map-marker-alt-solid.svg");
}

.map-holder {
    box-shadow: 0px 10px 20px 0px rgba(211, 211, 211, 1);
    height: 350px;
}

.map-holder img {
    display: block;
}

  /* --------------------         FORM       ------------------------ */

.form {
    padding: 40px;

    background: #ffffff;
    box-shadow: 0px 10px 20px 0px rgba(211, 211, 211, 1);
    border-radius: 2px;
  }

.form-group {
      margin-bottom: 30px;
  }

.input {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 10px;

    background-color: #eeeeee;
    border: 1px solid #c0c0c0;
    border-radius: 6px;

    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
  }

.input::placeholder {
    color: rgba(48, 63, 90, 0.5);
  }

.input:focus {
    outline: none;
    border: 2px solid #0ac883;
    box-shadow: 0px 0px 10px rgba(53, 192, 141, 0.5);
  }

.form-col-50 {
    float: left;
    width: 50%;
  }

.form-col-50:first-child {
    padding-right: 5px;
  }

.form-col-50:last-child {
    padding-left: 5px;
}

.label-radio {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    cursor: pointer;
}

.custom-radio {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-bottom: 3px;

    vertical-align: middle;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 50%;

    cursor: pointer;
}

.custom-radio::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    display: block;
    width: 12px;
    height: 12px;

    background-color: #2ab698;
    border-radius: 50%;
    display: none;
}

.real-radio {
    width: 0;
    height: 0;
    position: absolute;
}

.real-radio:focus + .custom-radio {
    border: 2px solid #0ac883;
    box-shadow: 0px 0px 10px rgba(53, 192, 141, 0.5);
}

.real-radio:checked + .custom-radio::before {
    display: block;
}

.label-checkbox {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    cursor: pointer;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 15px;

    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    cursor: pointer;
}

.custom-checkbox::before{
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    display: block;
    width: 15px;
    height: 12px;

    background-image: url("../img/icons/check-solid.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: none;
}

.real-checkbox {
    width: 0;
    height: 0;
    position: absolute;
}
  
.real-checkbox:focus + .custom-checkbox {
    border: 2px solid #0ac883;
    box-shadow: 0px 0px 10px rgba(53, 192, 141, 0.5);
}

.real-checkbox:checked + .custom-checkbox::before {
    display: block;
}

/* --------------------         FOOTER       ------------------------ */

.footer {
    width: 100%;
    height: auto; /* можно не писать, задается автоматически */
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #265847;

    color: #ffffff;
}

.footer-left {
    width: 270px;
    float: left;
}

.footer-right {
    max-width: 870px;
    float: right;
}

.footer-right::after {
    content: "";
    display: table;
    clear: both;
}

.footer-logo {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    padding-bottom: 15px;
}

.footer-about {
    font-size: 16px;
    line-height: 1.625;
}

.footer-col {
    font-size: 18px;
    float: left;
    margin-right: 30px;
}

.footer-col:last-child {
    margin-right: 0;
}

.footer-col-info {
 width: 200px;
}

.footer-col-services {
    width: 240px;
}

.footer-col-contacts {
    width: 200px;
}

.footer-col-contacts p {
    margin-bottom: 15px;
}

.footer-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 18px;
}

.footer-list-item {
    margin-bottom: 10px;
}

.footer-list-item:last-child {
    margin-bottom: 0;
}

.footer-list-link {
    color: #ffffff;
    text-decoration: none;
}

.footer-list-link:hover {
    text-decoration: underline;
}

.footer-col-contacts p:last-child {
    margin-bottom: 0;
}
